.background{
    background-image: url('site_images/main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100rem;
}

.header {
    background-color: #ffffff;
    overflow: hidden;
    text-align: right;
    padding: 10px 0;

    a {
        padding: 10px;
    }
}

.footer {
    background-color: #ffffff;
    overflow: hidden;
    text-align: right;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    a {
        padding: 10px;
    }
}

.app-list{
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
}

.app-card{
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
}
.app-card h2 {
    margin: 0 0 5px;
}