/*
    Styling for browse page and each individual app card
*/

.app-list {
    width: 100;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10%;
    row-gap: 3em;
}
.error {
    grid-column: 1 / -1;
    color: red;
    font-size: 2em;
}

.app-card {
    background: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 250px;
}

.app-card img{
    max-width:100px;
    border-radius: 1.3rem;
}