.login-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 500px;
    background-color: #ffffff90;
    width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    border-radius: 20px;
    padding: 20px;
    margin: 30px;

}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;

}

.info-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.login-button {
    width: 130px;
    align-self: center;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #FCDDDF;
    color: #660F3B;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button:hover {
    background-color: #E18A8A;
    color: white;
    transform: scale(1.05);
}

/* Responsive design for login */
@media screen and (max-width: 768px) {
    .login-container {
        width: 90%;
        height: auto;
        padding: 15px;
    }
}