body {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
    font-family: "Golos Text", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

form {
    display: flex;
    gap: 10px;
    align-items: center;
}

input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1;
}

button {
    padding: 8px 16px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
}

.submitButton {
    background-color: #FCDDDF;
}



.background {
    /* background-image: url('site_images/main_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    height: 100rem; */
    background: linear-gradient(to top right, #CBEFB6, #FCDDDF, #E18A8A);
    min-height: 100vh;
}

.header {
    background-color: #FCDDDF;
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.3);

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    height: 100px;
    max-width: 100%;
}

.header .title {
    text-align: left;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #660F3B;
}

.header a {
    position: relative;
    padding: 10px;
}

.header .nav-links a:hover {
    color: #660F3B;
    display: inline-block;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.header .nav-links a:hover::after {
    width: 100%;

}

.nav-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-links .left a {
    background-color: #ffffff90;
    border-radius: 20px;
    margin: 5px;
    padding-right: 20px;
    padding-left: 20px;

}

.search-icon {
    max-width: 20px;
    max-height: 20px;
}

.profile-icon {
    width: 40px;
    height: 40px;
    background-color: #660F3B;
    border-radius: 100%;
}

.search-container {
    border-color: #660F3B;
}

.footer {
    background-color: #FCDDDF;
    box-shadow: 0 8px 20px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 10px;
    height: 100px;
    max-width: 100%;
}

.footer a {
    position: relative;
    text-align: right;
    padding: 10px;
}

.footer .nav-links a {
    background-color: #ffffff90;
    border-radius: 20px;
    margin: 5px;
    padding-right: 20px;
    padding-left: 20px;
}

.footer .nav-links a:hover {
    color: #660F3B;
    display: inline-block;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}


.footer .nav-links a:hover::after {
    width: 100%;

}

.main-section {
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-height: 100vh;
}

.top-row {
    display: flex;
    flex-direction: row;
    padding: 10px;
    max-width: 1000px;
    align-self: center;
}

.top-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff90;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.top-inner p {
    line-height: 2;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.top-inner ul {
    line-height: 2;
    padding-left: 20px;
    padding-right: 20px;
}

.app-rows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    align-self: center;
    padding: 10px;
    max-width: 1300px;
}

.top-rated {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    gap: 85px;
    margin-bottom: 20px;

}

.top-rated button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
}

.top-rated button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.fun-apps {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
    gap: 85px;
    margin-bottom: 20px;
}

.fun-apps button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #000000;
}

.fun-apps button:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.app-container {
    background-color: #ffffff90;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
    padding: 20px;
}


.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff90;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3%;
    align-self: center;
    padding: 20px;
    margin: 20px;
    max-width: 1000px;

}

.about-section .team-members {
    padding-left: 20px;
    line-height: 2;
}

.about-section h2 {
    font-family: 'pacifico', cursive;
    padding-right: 20px;
    padding-left: 20px;
}

.about-section p {
    line-height: 2;
    padding-right: 20px;
    padding-left: 20px;
}

.request-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: #ffffff90;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    max-width: 1000px;
}

.request-form h2 {
    padding-right: 20px;
    padding-left: 20px;
}

.request-form p {
    line-height: 2;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.request-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 500px;
}

.main-app-list {
    width: 100;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5%;
    row-gap: 3em;
}

.app-card h2 {
    margin: 0 0 5px;
}

.search-container {
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.4s ease;
    display: inline-flex;
    border: 2px solid #ccc;
    border-radius: 25px;
    padding: 0;
}

.search-container.active {
    max-width: 400px;
    padding: 5px 10px;
}

.search-input {
    border: none;
    outline: none;
    padding: 8px;
    width: 100%;
    border-radius: 25px;
}

.search-submit {
    background: none;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}